project_id = "wapgpwlatsqyvicxpdtq"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323

[functions.analyze-clothing]
verify_jwt = false

[functions.process-clothing-image]
verify_jwt = false
